<div class="container py-4" style="width:800px">
    <div class="card border-success my-4">
        <h6 class="text-center card-header">Instrucciones de la actividad</h6>
        <div class="card-body">
            <p>
                A continuación te solicitamos, respondas todos los
                puntos de la siguiente prueba técnica , donde se revisarán los tiempos de respuesta
                y conocimientos técnicos (buenas prácticas de programación, resolución de
                problemas en código, principios de programación, limpieza de código).
            </p>
            <ol>
                <li>Creación aplicativa, considerar</li>
                    <ol>
                        <li>Pantalla registro, formato: correo-usuario-contraseña</li>
                            <ul>
                                <li>Integrar interceptores para cifrado de datos</li>
                            </ul>
                        <li>Pantalla acceso, formato: usuario-contraseña</li>
                        <li>Pantalla formularia, considerar</li>
                            <ol>
                                <li>Captura 3 campos, en tres tablas relacionadas</li>
                                    <ul>
                                        <li>Estado</li>
                                        <li>Municipio</li>
                                        <li>CP</li>
                                    </ul>
                                <li>Solo accesible a través de login</li>
                                <li>Conexión a base de datos relacional</li>
                                <li>Servicio REST para persistir los datos del formulario, con método POST en formato JSON</li>
                                <li>Incluir seguridad para los servicios</li>
                            </ol>
                    </ol>
                <li>Lenguaje JAVA</li>
                <li>IDE Eclipse</li>
                <li>Entregables</li>
                    <ol>
                        <li>Solución del proyecto</li>
                        <li>Documentación de herramientas usadas y proceso de trabajo</li>
                    </ol>
            </ol>
            <p>
                Una vez que concluyas la prueba técnica, adjunta tu solución en respuesta al correo
                electrónico: iyarirojas@michaelpage.com.mx y yanineperdomo@michaelpage.com.mx
            </p>
        </div>
    </div>
</div>
