<div class="container py-4" style="width:500px">
    <div class="card border-success">
        <h5 class="text-center card-header">Registrarse</h5>
        <div class="card-body">
            <form>
                <div class="form-group col-sm-12 mb-3">
                    <input type="text" class="form-control" placeholder="Usuario">
                </div>

                <div class="form-group col-sm-12 mb-3">
                    <input type="email" class="form-control" placeholder="Correo electrónico">
                </div>

                <div class="form-group col-sm-12 mb-3">
                    <input type="password" class="form-control" placeholder="Contraseña">
                </div>

                <div class="form-group d-grid gap-2 col-6 mx-auto">
                  <button type="submit" class="btn btn-success btn-block">Hecho</button>
                </div>
            </form>
        </div>
    </div>
</div>
